@using MerriamWebster.NET.Results
@model MerriamWebster.NET.Results.Definition
@{
    if (Model.VerbDivider != null)
    {
        <div class="mw-vd">@Model.VerbDivider</div>
    }
    foreach (var senseSequence in Model.SenseSequence)
    {
        foreach (var sseq in senseSequence.Senses)
        {
            if (sseq.IsParenthesizedSenseSequence)
            {
                foreach (var senseSequenceSense in sseq.Senses)
                {
                    if (senseSequenceSense is Sense sense)
                    {
                        int skip = 0;
                        if (sense.SenseNumber != null)
                        {
                            skip = 1;
                            var firstDef = sense.DefiningTexts.FirstOrDefault();
                            <div>
                                <span class="mw-sense-nr">
                                    @sense.SenseNumber
                                    <partial name="_Labels" model="sense.GeneralLabels"/>
                                    <partial name="_Labels" model="sense.SubjectStatusLabels"/>
                                </span>

                                <span class="mw-defining-text">@Html.Raw(firstDef?.MainText.HtmlText)</span>
                            </div>
                        }
                        @foreach (var definingText in sense.DefiningTexts.Skip(skip))
                        {
                            <partial name="_definingText" model="definingText"/>
                        }

                        if (sense.DividedSense != null)
                        {
                            <span class="mw-sd">@Html.Raw(sense.DividedSense.SenseDivider)</span>
                            <span>@Html.Raw(sense.DividedSense.DefiningTexts.First().MainText.HtmlText)</span>
                            @foreach (var definingText in sense.DividedSense.DefiningTexts.Skip(1))
                            {
                                <partial name="_definingText" model="definingText"/>
                            }
                        }
                    }
                }
            }
            else if (sseq is Sense sense)
            {
                int skip = 0;
                if (sense.SenseNumber != null)
                {
                    skip = 1;
                    var firstDef = sense.DefiningTexts.FirstOrDefault();
                    <div>
                        <span class="mw-sense-nr">
                            @sense.SenseNumber
                            <partial name="_Labels" model="sense.GeneralLabels"/>
                            <partial name="_Labels" model="sense.SubjectStatusLabels"/>

                        </span>
                        <span class="mw-defining-text">@Html.Raw(firstDef?.MainText.HtmlText)</span>
                    </div>
                }
                @foreach (var definingText in sense.DefiningTexts.Skip(skip))
                {
                    <partial name="_definingText" model="definingText"/>
                }

                if (sense.DividedSense != null)
                {
                    <span class="mw-sd">@Html.Raw(sense.DividedSense.SenseDivider)</span>
                    <span>@Html.Raw(sense.DividedSense.DefiningTexts.First().MainText.HtmlText)</span>
                    @foreach (var definingText in sense.DividedSense.DefiningTexts.Skip(1))
                    {
                        <partial name="_definingText" model="definingText"/>
                    }
                }
            }

        }
    }
}